<section>

  <!--<div class="notification-icon">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-envelope"></span>&ndash;&gt;-->
    <!--<span class="badge">19</span>-->
  <!--</div>-->

  <div class="header">
    <h1>List of Members</h1>
  </div>

  <div class="list-group">
    <a ng-repeat="pendingrequet in vm.pendingrequets"
       ui-sref="pendingrequets.view({ pendingrequetId: pendingrequet._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="pendingrequet.created | date:'mediumDate'"></span>
        by
        <span ng-if="pendingrequet.user" ng-bind="pendingrequet.user.displayName"></span>
        <span ng-if="!pendingrequet.user">{{pendingrequet.name}}</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="pendingrequet.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.pendingrequets.$resolved && !vm.pendingrequets.length">
    No members yet, why don't you <a ui-sref="pendingrequets.create">create one</a>?
  </div>
</section>
