<section>

  <div class="header"></div>

  <div ng-init="fillFields()">
    <!--<h4 ng-bind="vm.pendingrequet.file"></h4>-->
    <img class="member-picture-description" ng-src="{{imageURL}}" class="img-thumbnail add-member-picture" style="width:150px; height:150px">
  </div>

  <div>
    <label>Image URL: </label>
      <span ng-bind="vm.pendingrequet.imageURL"></span>
  </div>

  <div>
    <label>Member Since: </label>
    <span>{{vm.pendingrequet.created | date:'mediumDate'}}</span>
  </div>

  <div>
    <label>Full Name:</label>
    <span ng-bind="vm.pendingrequet.name"></span>
  </div>
  <div>
    <label>Email Address:</label>
    <span ng-bind="vm.pendingrequet.email"></span>
  </div>
  <div>
    <label>Campus Phone Number:</label>
    <span ng-bind="vm.pendingrequet.phone"></span>
  </div>
  <div>
    <label>College:</label>
    <span ng-bind="vm.pendingrequet.college"></span>
  </div>
  <div>
    <label>Position:</label>
    <span ng-bind="vm.pendingrequet.position"></span>
  </div>
  <div>
    <label>I am:</label>
    <span ng-bind="vm.pendingrequet.selection"></span>
  </div>
  <div>
    <label>Number of Years at UF:</label>
    <span ng-bind="vm.pendingrequet.yearsUf"></span>
  </div>
  <div>
    <label>Is this your first time joining AAW?</label>
    <span ng-bind="vm.pendingrequet.selection2"></span>
  </div>
  <div>
    <label>Are you interested in joining an AAW committee?</label>
    <span ng-bind="vm.pendingrequet.selection3"></span>
  </div>
  <div>
    <label>What topics would you like to see included in our future programming?</label><br>
    <textarea rows="8" cols="60" ng-bind="vm.pendingrequet.topics" readonly></textarea>
  </div>
  <div>
    <label>Interested in having a profile?</label>
    <span ng-bind="vm.pendingrequet.selection4"></span>
  </div>
  <div>
    <label>Academic, Scholarly, or Professional Interests:</label><br>
    <textarea rows="8" cols="60" ng-bind="vm.pendingrequet.interest" readonly></textarea>
  </div>
  <div>
    <label>What attracted you to AAW?</label><br>
    <textarea rows="8" cols="60" ng-bind="vm.pendingrequet.motivation" readonly></textarea>
  </div>

  <div ng-controller="ProfilesController">
    <button class="btn btn-primary" type="submit" ng-click="createProfile()" ng-show="vm.pendingrequet.interest && vm.pendingrequet.interest != '' && vm.pendingrequet.motivation && vm.pendingrequet.motivation != ''">Add To Profile</button>
  </div>

<div>
  <!--<div class="pull-right"-->
       <!--ng-show="vm.pendingrequet.isCurrentUserOwner">-->
    <!--<a class="btn btn-primary"-->
       <!--ui-sref="pendingrequets.edit({ pendingrequetId: vm.pendingrequet._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.pendingrequet.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.pendingrequet.user"
            ng-bind="vm.pendingrequet.user"></span>
      <span ng-if="!vm.pendingrequet.user"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.pendingrequet.content"></p>


</section>
