<section>

  <div ng-init="fillFields()">
    <!--<h4 ng-bind="vm.pendingrequet.file"></h4>-->
    <img class="member-picture-description" ng-src="{{imageURL}}" class="img-thumbnail add-member-picture">
  </div>

  <div >
    <h4 ng-bind="vm.pendingrequet.name"></h4>
  </div>
  <div >
    <h4 ng-bind="vm.pendingrequet.email"></h4>
  </div>
  <div >
    <h4 ng-bind="vm.pendingrequet.phone"></h4>
  </div>
  <div >
    <h4 ng-bind="vm.pendingrequet.college"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.position"></h4>
  </div>
  <div >
    <h4 ng-bind="vm.pendingrequet.selection"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.yearsUf"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.selection2"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.selection3"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.topics"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.selection4"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.interest"></h4>
  </div>
  <div>
    <h4 ng-bind="vm.pendingrequet.motivation"></h4>
  </div>


  <div class="pull-right"
       ng-show="vm.pendingrequet.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="pendingrequets.edit({ pendingrequetId: vm.pendingrequet._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.pendingrequet.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.pendingrequet.user"
            ng-bind="vm.pendingrequet.user.displayName"></span>
      <span ng-if="!vm.pendingrequet.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.pendingrequet.content"></p>


</section>
