<div class="ui-view" autoscroll="true">
	<section>

		<div class="header">
			<h1>The Woman of Distinction Award</h1>
		</div>


		<div class="distin-header">
      <h1><span style="font-family: 'Avenir Light';">The</br></span><span style="font-size: 1.25em;">Woman of Distinction</span></br><span style="color: #E28F40;font-family: 'Avenir Light';">Award</span></h1>
		</div>

    <div class="elig-content">
		<div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center">
          <div class="elig-header">
            <h2> Nominee Eligibility Requirements </h2>
          </div>
          <div class="elig-list">
    					<ul style="width: 100%; margin: auto;" ng-repeat="about in vm.newabouts | filter: {'award' : 'distinctionbullets'} | orderBy : 'created'">
									<li>
										<p style="text-align:left">
											{{about.text[0]}}
												<button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
														<span class="glyphicon glyphicon-pencil"></span>
												</button>
												<button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
														<span class="glyphicon glyphicon-trash"></span>
												</button>
										</p>
									</li>
									<!-- <li>
										<p style="text-align:left">Must be a University of Florida faculty member or administrative/professional woman</p> 10 26
									</li>
									<li>
										<p style="text-align:left">Must be a member of AAW to submit a nomination</p> 10 27
									</li>
									<li>
										<p style="text-align:left">Must have made significant contributions to the quality of life of women</p> 10 28
									</li> -->

							</ul>
							<button ng-click="vm.modalAdd('distinctionbullets', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
									Add new bullet point
							</button>
          </div>

          <div class="elig-footer">
							<hr>
							<div ng-repeat="about in vm.newabouts | filter: {'award' : 'distinctioneligibility'} | orderBy : 'created'">
									<p class="elig-p"><b>
											{{about.text[0]}}
											</b>

											<button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
													<span class="glyphicon glyphicon-pencil"></span>
											</button>
											<button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
															<span class="glyphicon glyphicon-trash"></span>
											</button>
									</p>
							</div>
							<button ng-click="vm.modalAdd('distinctioneligibility', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
									Add new eligibility paragraph
							</button>

							<div ng-repeat="about in vm.newabouts | filter: {'award' : 'distinctionwarning'} | orderBy : 'created'">
								<p class="elig-p" style="font-family: 'Avenir Black'; text-transform: uppercase; margin-bottom: 3%;">
									<b>{{about.text[0]}}</b>
									<button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
											<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
											<span class="glyphicon glyphicon-trash"></span>
									</button>
								</p>
							</div>
						<!-- <p style="font-family: 'Avenir Black'; text-transform: uppercase; margin-bottom: 3%;"><b>Applications submitted after the deadline will NOT be accepted.</b></p> -->
						<button ng-click="vm.modalAdd('distinctionwarning', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
								Add new warning paragraph
						</button>
					</div>

  				<!-- No current apply link, but will update if there is one -->
  				<!--<button type="button" class="btn btn-primary btn-lg" onclick="location.href='http://graduateschool.ufl.edu/prospective-students/funding/fellowships/madelyn-lockhart-dissertation-fellowship/';">Apply Here
              </button> -->
  			</div>
      </div>
		</div>
    </div>


    <div class="prev-content">
				<div class="row">
						<div class="col-md-8 col-md-offset-2">
								<div class="text-center">
										<div class="prev-header">
												<h2> Previous Woman of Distinction Award Winners </h2>
										</div>

										<div class="prev-table">
												<table class="table table-bordered">
														<thead>
																<tr>
																<th style="background: #E28F40;"><p>Year</p></th>
																<th style="background: #6B9AC3;"><p>Name</p></th>
																<th style="background: #E28F40;"><p>Department/Unit/College</p></th>
																</tr>
														</thead>
														<tbody>
																<tr ng-repeat="about in vm.newabouts | filter: {'award' : 'distinctiontable'} | orderBy : '-year'">
																<td><p>{{ about.year }}</p></td>
																<td><p>{{ about.name }}</p></td>
																<td><p>{{ about.department }}</p></td>
																<td ng-show="user != '' && user.roles[0] == 'admin'"><button ng-click="vm.modalTableEdit(about, lg)"  type="button" class="btn btn-primary">
																		<span class="glyphicon glyphicon-pencil"></span>
																</button></td>
																<td ng-show="user != '' && user.roles[0] == 'admin'"><button ng-click="vm.delete(about)"  type="button" class="btn btn-danger">
																		<span class="glyphicon glyphicon-trash"></span>
																</button></td>
																</tr>
														</tbody>
												</table>
										</div>
										<button ng-click="vm.modalTableAdd('distinctiontable', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
												Add new table entry
										</button>
								</div>
						</div>
				</div>
		</div>
	</section>
</div>
