<section>

  <div class="header">
      <h1>ABOUT</h1>
  </div>


  <div class="col-md-2">
  <div class="sidebar-wrapper">
      <nav data-offset="400" >
          <ul class="sidebar-nav nav">
              <li>
                  <a href="#about"><span class="solo">About</span></a>
              </li>
              <li>
                  <a href="#mission">
                      <span class="solo">Mission</span>
                  </a>
              </li>
              <li>
                  <a href="#awards">
                      <span class="solo">Awards</span>
                  </a>
              </li>
              <li>
                  <a href="#people">
                      <span class="solo">Leadership</span>
                  </a>
              </li>
              <li>
                  <a href="#history">
                      <span class="solo">History</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
  </div>

  <div class="bodyclass" data-spy="scroll" data-target=".spy">
      <div class="col-md-10">
            <div class="page-content-wrapper">
              <div class="about-section"  id="about" >
                          <p>Learn more about the Association of Academic Women below by reading about our mission, history, awards, and people.</p>
              </div>
              <!-- <div class="list-group"> -->
                <div ng-init="par = $index" ng-hide="$index > 4" class="about-section" ng-attr-id="{{$index != 3 ? ids[$index]: 'WOD'}}" ng-repeat="newabout in vm.newabouts">
                  <h1 style="color: #E28F41" ng-show="$index == 0">MISSION</h1>
                  <h1 style="color: #6C9AC3" ng-show="$index == 1">LEADERSHIP</h1>
                  <h1 style="color: #E28F41" ng-show="$index == 2">AWARDS</h1>
                  <h3 ng-show="$index == 3">Woman of Distinction Award</h3>
                  <h1 style="color: #6C9AC3" ng-show="$index == 4">HISTORY</h1>
                  <div ng-repeat="text in newabout.text">
                  <p ng-hide="par == 2 && $index == 0" class="list-group-item-heading">{{text}}</p>
                  <h3 ng-show="par == 2 && $index == 0">{{text}}</h3>

                  </div>
                  <button ng-show="$index == 2" type="button" class="btn btn-primary" ui-sref="newabouts.madelynAward">More Information</button>
                  <button ng-show="$index == 3" type="button" class="btn btn-primary" ui-sref="newabouts.distinctionAward">More Information</button>
                  <button ng-show="$index == 1" type="button" class="btn btn-primary" onclick="location.href = '/members/profiles';">See All Members</button>

                  <button ng-show="user && user.roles[0] == 'admin'" class="btn btn-primary" ui-sref="newabouts.edit({ newaboutId: newabout._id })">Edit</button>

                </div>
              </div>
            </div>
          </div>
  <!-- </div> -->
  <!-- <div class="alert alert-warning text-center" ng-if="vm.newabouts.$resolved && !vm.newabouts.length">
    No Newabouts yet, why don't you <a ui-sref="newabouts.create">create one</a>?
  </div> -->


</section>
