<div class="ui-view" autoscroll="true">
    <div class="header">
        <h1>The Madelyn Lockhart</br>Dissertation Fellowship</h1>
    </div>

    <section>


    <div class="elig-content"> 
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <div class="elig-header">

                        <h2> Eligibility Requirements </h2>
                    </div>

                    <div class="elig-list">
                        <ul ng-repeat="about in vm.newabouts | filter: {'award' : 'madelynbullets'} | orderBy : 'created'">
                            <li><p style="text-align:left">{{about.text[0]}}
                                <button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p></li>
                                <!-- <li><p style="text-align:left">Must be a full-time or full-time equivalent doctoral degree (PhD) candidate as defined by the Graduate School at the University of Florida</p></li> 10 25
                                <li><p style="text-align:left">Must have completed doctoral course work</p></li> 10 26
                                <li><p style="text-align:left">Must have passed the qualifying exam </p></li> 10 27
                                <li><p style="text-align:left">Must be writing or be ready to write the dissertation (Preferably in the later stages of dissertation research and writing)</p></li> 10 28
                                <li><p style="text-align:left">Must have their dissertation proposal be approved by the applicant's graduate committee prior to submission of an application</p></li> 10 29
                                <li><p style="text-align:left">Must be enrolled in dissertation credits for at least one semester (for example summer 2016 or fall 2016 and/or spring, 2017) after s/he is selected to receive the fellowship.</p></li> 10 30 -->
                        </ul>
                        <button ng-click="vm.modalAdd('madelynbullets', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                            Add new bullet point
                        </button>
                    </div>
                    <div class="elig-footer">
                        <hr>
                        <div ng-repeat="about in vm.newabouts | filter: {'award' : 'madelyneligibility'} | orderBy : 'created'">
                            <p class="elig-p"><b>
                                {{about.text[0]}}
                                </b>
                            
                                <button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </div>
                        <button ng-click="vm.modalAdd('madelyneligibility', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                            Add new eligibility paragraph
                        </button>
                        <div ng-repeat="about in vm.newabouts | filter: {'award' : 'madelynwarning'} | orderBy : 'created'">
                            <p class="elig-p" style="font-family: 'Avenir Black'; text-transform: uppercase; margin-bottom: 3%;">
                                <b>{{about.text[0]}}</b>
                            
                                <button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </div>
                        <button ng-click="vm.modalAdd('madelynwarning', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                            Add new warning paragraph
                        </button>

                        <hr style="margin-bottom: 5%;">
                        <span class="apply-button" onclick="location.href='http://graduateschool.ufl.edu/prospective-students/funding/fellowships/madelyn-lockhart-dissertation-fellowship/';">APPLY HERE</span>
                    </div>

                    
                </div>
            </div>
        </div>

      </div>


        <div class="selec-content">
            <div class=row>
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <div class='selec-header'>
                            <h2> Award Selection And Procedures </h2>
                        </div>

                        <div class="selec-p" ng-repeat="about in vm.newabouts | filter: {'award' : 'madelynprocedures'} | orderBy : 'created'">
                            <p class="list-group-item-heading">
                                {{about.text[0]}}

                                <!-- "A faculty committee will evaluate the applications. Committee members are selected by the Executive Committee of AAW. They represent the physical and social sciences, humanities, and professional programs.", 10 26
                                "The award will be presented during a Women's History Month Celebration typically held in March. Applicants will be notified of the selection committee\u2019s decision on or before March 1. Notification will be by an email message sent to the email address included in the application packet. An invitation to the presentation event will be sent to finalists. The invitation will be sent electronically to the email address listed for the finalist in her application packet.", 10 27
                                "Questions about the fellowship application process should be directed to Donna Tuckey at tuckey@ufl.edu" 10 28 -->

                                <button ng-click="vm.modalEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                        </div>

                        <button ng-click="vm.modalAdd('madelynprocedures', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                            Add new selection and procedures paragraph
                        </button>

                    </div>
                </div>
            </div>
        </div> 

        <div class="prev-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="text-center">
                        <div class="prev-header">
                            <h2> Previous Madelyn Lockhart Dissertation Fellowship Winners </h2>
                        </div>

                        <div class="prev-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th style="background: #E28F40;"><p>Year</p></th>
                                    <th style="background: #6B9AC3;"><p>Name</p></th>
                                    <th style="background: #E28F40;"><p>Department/Unit/College</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="about in vm.newabouts | filter: {'award' : 'madelyntable'} | orderBy : '-year'">
                                    <td><p>{{ about.year }}</p></td>
                                    <td><p>{{ about.name }}</p></td>
                                    <td><p>{{ about.department }}</p></td>
                                    <td><button ng-click="vm.modalTableEdit(about, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button></td>
                                    <td><button ng-click="vm.delete(about)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button ng-click="vm.modalTableAdd('madelyntable', lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                            Add new table entry
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>

