<section>
  <div class="header">
    <h1>EDIT</h1>
  </div>
  <div class="page-header">
    <h1 ng-bind="vm.newabout.contentType"></h1>
    <p ng-repeat="text in vm.newabout.text">
      {{text}}
    </p>
  </div>
  <div class="pull-right"
       ng-show="vm.newabout.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="newabouts.edit({ newaboutId: vm.newabout._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <!-- <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a> -->
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.newabout.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.newabout.user"
            ng-bind="vm.newabout.user.displayName"></span>
      <span ng-if="!vm.newabout.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.newabout.content"></p>
</section>
