<section ng-controller="ProfilesController">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Profile Edit</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Name:</label>
              <div class="col-sm-10">
                <input type="name" class="form-control" id="name" value="{{profile.name}}" required data-errormessage-value-missing="Please input something">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="description">Description:</label>
              <div class="col-sm-10">
                <input type="description" class="form-control" id="description" value="{{profile.description}}" required data-errormessage-value-missing="Please input something">
              </div>
            </div>

            <div>
              <label>Current Picture:</label>

              <div class="form-group text-center">
                <img ng-src="{{profile.imageURL}}" class="img-thumbnail add-member-picture">
              </div>

              <div>
                <label>Do you want to change the profile picture?</label>
                <input type="checkbox" ng-click="clicked()">

              </div>
              <div ng-show="showForm">
                <label>New Picture:</label>
                <div class="form-group text-center">
                  <div class="imagediv">
                    <img ng-src="{{imageURL}}" class="img-thumbnail add-member-picture">
                  </div>
                </div>
                <div class="form-group text-center">
                    <span class="btn btn-default btn-file">
                      Select Image <input type="file" nv-file-select uploader="uploader" id="file-input">
                  </span>

                </div>
                <div class="text-center">
                    <span style="color:red">
                        *Pictures come out best when they are 200px by 200px*
                    </span>
                </div>
                <div ng-show="success" class="text-center text-success">
                  <strong>Your picture has been uploaded successfully</strong>
                </div>
                <div ng-show="error" class="text-center text-danger">
                  <strong ng-bind="error"></strong>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-10">
                <button class="btn btn-primary" ng-click="ProfileUpdate(profile); ok()"> OK</button>
                <button class="btn btn-warning" ng-click="cancel()"> Cancel</button>
              </div>
            </div>
          </form>
    </div>
</section>
