<section ng-controller="ProfilesController">


<div class="container">
	<div class="row">

              <h3>Profiles</h3>
            <p>Meet our members and see why they joined the Association of Academic Women</p>
            <div class="list-group">            <!-- Button trigger modal -->
                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird1.jpg"></center>
                        <p>Bird 1</p>
                    </a>
                </div>

                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird2.jpg"></center>
                        <p>Bird 2</p>
                    </a>
                </div>

                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird3.jpg"></center>
                        <p>Bird 3</p>
                    </a>
                </div>

                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird4.jpg"></center>
                        <p>Bird 4</p>
                    </a>
                </div>
            </div>
            

    </div>
</div>
</section>