<section ng-controller="ProfilesController">

	<div class="header">
			<h1>PROFILES</h1>
	</div>
<div class="container">
	<div class="row">

            <p>Meet our members and see why they joined the Association of Academic Women</p>
            <div class="list-group">            <!-- Button trigger modal -->
                <div class="col-xs-3" style="text-align:center" ng-repeat="profile in profiles">
                    <a ng-click="vm.modalUpdate(profile, lg)">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird1.jpg"></center>
                            <p>{{ profile.name }}</p>
                    </a>

                    <button ng-click="vm.modalEdit(profile, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button ng-click="vm.delete(profile)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                    </button>

                    <p></p>
                </div>

                <!-- <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird2.jpg"></center>
                        <p>Bird 2</p>
                    </a>
                </div>

                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird3.jpg"></center>
                        <p>Bird 3</p>
                    </a>
                </div>

                <div class="col-xs-3" style="text-align:center">
                    <a ng-click="vm.modalUpdate()">
                            <center><img class="img-circle img-responsive" src="/modules/members/client/img/bird4.jpg"></center>
                        <p>Bird 4</p>
                    </a>
                </div> -->
            </div>


    </div>
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <button ng-click="vm.modalAdd(lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-success">
                Add new user
            </button>
        </div>
    </div>
</div>
</section>
