<div class="container" ng-controller="FooterController">
  <br><br><br><br>
  <div class="row">
    <div class="col-sm-4">
      <p>UF links</p>
    </div>
    <div class="col-sm-4">
      <p>Other Links</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.uff.ufl.edu/Giving/Volunteering.asp" target="_blank"><small>UF Women Initiative - UF Foundation</small></a></li>
        <li class="list-inline-item"><a href="http://ufdc.ufl.edu/rwg/letter" target="_blank"><small>Radical Women in Gainesville</small></a></li>
        <li class="list-inline-item"><a href="http://wise.group.ufl.edu/" target="_blank"><small>Women in Science and Engineering (WiSE) at UF</small></a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.facebook.com/NWBCgov/" target="_blank"><small>National Women's Business Council (NWBC)</small></a></li>
        <li class="list-inline-item"><a href="http://womenshealth.gov/about-us/" target="_blank"><small>Office on Women's Health - U.S. Dept. of Health and Human Services</small></a></li>
        <li class="list-inline-item"><a href="http://www.abwa.org/pages/abwa-home-page" target="_blank"><small>American Business Women's Association (ABWA)</small></a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <a href="https://www.facebook.com/UFL.AAW" target="_blank" style="color: #000000"><i class="fa fa-facebook fa-2x" aria-hidden="true" href="https://www.facebook.com/UFL.AAW"></i></a>
      <a href="" target="_blank" style="color: #000000"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" href="https://www.facebook.com/UFL.AAW"></i></a>
    </div>
  </div>
</div>
