<div class="container-fluid" ng-controller="HomeController">

  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}">
        <!-- <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div> -->
      </slide>
    </carousel>
  </div>

  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Who We Are</h2>
        </div>
        <div class="col-md-12" ng-repeat="misc in miscData | filter: {'name' : 'homePage'}">
          <p ng-repeat="data in misc.data" id="whoweare">
            {{data}}
          </p>

          <button ng-click="modalHomeEdit(misc, lg)" ng-show="user != '' && user.roles[0] == 'admin'" type="button" class="btn btn-primary">Edit</button>
        </div>
      </div>
      <div class="row news">
        <div class="col-md-6">
          <h2>Recent News</h2>
          <div id="announcementtext" ng-repeat="news in newslist" ng-show="$index <= 2">
            <div class="news-cell">
              <h3>{{news.name}}</h3>
              <h5>{{news.created | date:'mediumDate'}}</h5>
              <p>{{news.text | limitTo: 150}} ... </p>
            </div>
        </div>
        <div class="view-all text-center">
          <a  href="/news" id="newslink"> View All News </a>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Upcoming Events</h2>
        <div class="event-cell" ng-repeat="event in calendarlist" ng-show="$index <= 2">
          <div class="row row-eq-height">
            <div class="col-md-4">
              <div class="date text-center">
                <h4>{{event.beginMonth | monthName}}</h4>
                <h1>{{event.beginDay}}</h1>
              </div>
            </div>
            <div class="col-md-8">
              <div class="event-descrip">
                <h3>{{event.title}}</h3>
                <h4>{{event.location}}</h4>
                <h4>{{event.beginTime}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="view-all text-center">
          <a href="/calendars" id="calendarlink"> View All Events </a>
        </div>
      </div>
      </div>
      </div>
  </div>
  </div>
