.imagediv img {
  background-image: url('https://aawufimages.s3.amazonaws.com/default.png');
  background-position: center;
  background-size: 140px 140px;
  background-repeat: no-repeat;
}

.imgContainer img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.profiles-content h3{
  text-align: center;
  margin: 45px 0;
}

.member-cell{
  cursor: pointer;
  margin-bottom: 35px;
}

/*.member-cell > a > img {
  margin: 0 auto;
}*/


.member-cell > a > p{
  font-family: 'Avenir Black';
  text-align: center;
  margin: 3% 0;
  text-transform: uppercase;
  color: #4a4a4a;
}

