<section>

  <div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
    <!--</button>-->
    <h4 class="modal-title">Association for Academic Women Membership Form</h4>
  </div>


  <div class="modal-body">
    <p>Joining AAW is a great way to build your UF network and expand you knowledge and skills.
      To join, please complete the form below. After submitting, you will be redirected to an online
      payment screen for our $45 dues. Dues are used for events, member-only socials and an annual
      scholarship awarded to female UF doctoral students.
      The membership year spans from June 1st to May 31st; dues will reflect the year in which they are paid.
      If you would prefer to pay dues by check, please contact Marilyn Dumont-Driscoll at dumonmd@peds.ufl.edu&hellip;</p>

    <div class="col-md 4"><input class="form-control" type="email" placeholder="Enter your email address" required></div>
    <br>
    <div class="col-md 4"><input class="form-control" type="email" placeholder="Re-enter your email address" required></div>
    <br>
    <div class="col-md 4"><input class="form-control" type="tel" placeholder="Enter your campus phone number"></div>
    <br>
    <div class="col-md 4"><input class="form-control" type="text" placeholder="Enter your mailing address"></div>
    <br>

    <div class="form-group">
      <label for="sel1">I am ...</label>
      <select class="form-control" id="sel1">
        <option>Faculty</option>
        <option>TEAM</option>
        <option>Retired Faculty</option>
        <option>Retired TEAM</option>
      </select>
    </div>


    <div class="form-group">
    <label>Is this your first time joining AAW?</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Yes</label>
    <label class="checkbox-inline"><input type="checkbox" value="">No</label>
    </div>

    <div class="form-group">
      <label>Are you interested in joining an AAW committee?</label>
      <label class="checkbox-inline"><input type="checkbox" value="">Yes</label>
      <label class="checkbox-inline"><input type="checkbox" value="">No</label>
    </div>

    <div class="form-group">
      <label>What topics would you like to see including in our future programming?</label>
      <textarea class="form-control" maxlength="250" rows="8" cols="60"></textarea>
    </div>

    <div class="form-group">
      <label>I would like to include a donation to the AAW fellowship fund in addition to the $45 membership dues</label>
      <p>If you would like to include a donation, please submit any additional amount with your membership dues. Thank you</p>
      <label class="checkbox-inline"><input type="checkbox" value="">Yes</label>
      <label class="checkbox-inline"><input type="checkbox" value="">No</label>
    </div>


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close()">Continue</button>
    <!--<button type="button" class="btn btn-primary" ng-click="$close()">Save</button>-->
  </div>

</section>
