<section>

  <div class="modal-header">

    <h4 class="modal-title">Successfully Submitted</h4>
  </div>


  <div class="modal-body">
    <p>Thanks for successfully completing your membership application.
      To complete your registration process, please create your account and
      click the Go to Payment button below. You will be redirected to our
      secure payment platform.</p>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close()">Go to Payment</button>

  </div>

</section>
