<section>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 formWrapper">
      <div class="page-header">

        <div class="mySlides">
          <div class="w3-container w3-red">
            <h1><b>Small Steps, Lead to Big Changes</b></h1>
          </div>
        </div>

        <div ng-controller="JoinsController" id="carousel">
          <div>
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>{{slide.text}}</h4>
                </div>
              </slide>
            </carousel>
          </div>
        </div>

        <div class="rect">
          <div class="col-md-4 col-xs-6 box">
            <h3>We strive to: </h3>
            <ul style="list-style-type:circle">
              <li>"Empower UF women for the utmost success"</li>
              <li>"Foster career and personal growth for UF women in all roles"</li>
              <li>"Encourage relationship building on and off campus"</li>
              <li>"Connect professional women throughout the University of Florida community"</li>
              <li>"Have some fun!"</li>
            </ul>
          </div>
        </div>

        <div class="rect">
          <div class="col-md-4 col-xs-6 box">
            <h3>We support! </h3>
            <ul style="list-style-type:circle">
              <li>Each year our membership fees support the Madelyn Lockhart Dissertation Fellowship
                in concert with the AAW Emerging Scholar Program honoring eligible young women who are
                completing their dissertations in their chosen fields of study.</li>
            </ul>
          </div>
        </div>

        <div class="rect">
          <div class="col-md-4 col-xs-6 box">
            <h3>Annual Fees</h3>
            <p>$45.00</p>
            <p>Used to fund fellowships for female UF doctoral students.</p>
          </div>
        </div>

    <div class="rect">
      <div class="col-md-4 col-xs-6 box">
            <h3><i>Ready to Become a Member?</i></h3>
            <p>Click on the link below to complete your membership application</p>
            <button type="button" class="btn btn-link" ng-click="openModal()">Complete Membership Application</button>
      </div>
    </div>

      </div>
    </div>
  </div>


  <!--<div class="page-header">-->
    <!--<h1 ng-bind="vm.join.name"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right"-->
       <!--ng-show="vm.join.isCurrentUserOwner">-->
    <!--<a class="btn btn-primary"-->
       <!--ui-sref="joins.edit({ joinId: vm.join._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" ng-click="vm.remove()">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span ng-bind="vm.join.created | date:'mediumDate'"></span>-->
      <!--by-->
      <!--<span ng-if="vm.join.user"-->
            <!--ng-bind="vm.join.user.displayName"></span>-->
      <!--<span ng-if="!vm.join.user">Deleted User</span>-->
    <!--</em>-->
  <!--</small>-->
  <!--<p class="lead" ng-bind="vm.join.content"></p>-->
</section>
