<section>
<div class="ui-view">

  <div class="page-content">
    <div class="joins-container">
        <div ng-controller="JoinsController" class="carousel">
          <div class="rect">
            <carousel interval="myInterval">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>{{slide.text}}</h4>
                </div>
              </slide>
            </carousel>
          </div>
        </div>

        <div class="message">
          <h1>Small Steps<span style="font-family: 'Avenir Light';">, Lead to</span> Big Changes...</h1>
        </div>


        <div class="member">
          <div class="apply-button">
            <span ng-click="vm.fillApplication()">APPLY NOW</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="circle-text">
              <div class="col-md-4">
                <h3>OUR MISSION: </h3>
                <ul>
                  <li>Empower UF women for the utmost success</li>
                  <li>Foster career and personal growth</li>
                  <li>Encourage relationship on and off campus</li>
                  <li>Connect professional women throughout the UF community</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="circle-text">
              <div class="col-md-4">
                <h3>WE SUPPORT... </h3>
                <ul>
                  <li>Our organization supports women who are
                    completing their dissertations in their chosen fields of study.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="circle-text">
              <div class="col-md-4">
                <h3>ANNUAL FEE</h3>
                <ul>
                <li>$45.00</li>
                <li>Each year our membership fees support the Madelyn Lockhart Dissertation Fellowship
                  in concert with the AAW Emerging Scholar Program honoring </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>

  <!--<div class="page-header">-->
    <!--<h1 ng-bind="vm.join.name"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right"-->
       <!--ng-show="vm.join.isCurrentUserOwner">-->
    <!--<a class="btn btn-primary"-->
       <!--ui-sref="joins.edit({ joinId: vm.join._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" ng-click="vm.remove()">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span ng-bind="vm.join.created | date:'mediumDate'"></span>-->
      <!--by-->
      <!--<span ng-if="vm.join.user"-->
            <!--ng-bind="vm.join.user.displayName"></span>-->
      <!--<span ng-if="!vm.join.user">Deleted User</span>-->
    <!--</em>-->
  <!--</small>-->
  <!--<p class="lead" ng-bind="vm.join.content"></p>-->
</section>
