<section ng-controller="GalleriesController">

  <div class="album-content">
    <span class="album-title">
      <span class="album-name">{{albumName}} </span>
      //
      <span class="album-date"> {{albumDate}}</span>
    </span>
    <h4>{{albumDescription}}</h4>
  </div>

  <div class="photos-container">
    <div class="row photos-row">
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
    </div>
    <div class="row photos-row">
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
    </div>
    <div class="row photos-row">
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
      <div class="col-md-4 col-sm-4 photo-item">
          <img class="img-responsive photo-image" src="">
      </div>
    </div>
  </div>

</section>
