<!--<section>-->
  <!--<div class="page-header">-->
    <!--<h1>Abouts</h1>-->
  <!--</div>-->
  <!--<div class="list-group">-->
    <!--<a ng-repeat="about in vm.abouts"-->
       <!--ui-sref="abouts.view({ aboutId: about._id })"-->
       <!--class="list-group-item">-->
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span ng-bind="about.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span ng-if="about.user" ng-bind="about.user.displayName"></span>-->
        <!--<span ng-if="!about.user">Deleted User</span>-->
      <!--</small>-->
      <!--<h4 class="list-group-item-heading" ng-bind="about.name"></h4>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="alert alert-warning text-center" ng-if="vm.abouts.$resolved && !vm.abouts.length">-->
    <!--No Abouts yet, why don't you <a ui-sref="abouts.create">create one</a>?-->
  <!--</div>-->
<!--</section>-->
