<section>

  <p>ABOUT AAW</p>
  <!--<div class="page-header">-->
    <!--<h1 ng-bind="vm.about.name"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right"-->
       <!--ng-show="vm.about.isCurrentUserOwner">-->
    <!--<a class="btn btn-primary"-->
       <!--ui-sref="abouts.edit({ aboutId: vm.about._id })">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" ng-click="vm.remove()">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span ng-bind="vm.about.created | date:'mediumDate'"></span>-->
      <!--by-->
      <!--<span ng-if="vm.about.user"-->
            <!--ng-bind="vm.about.user.displayName"></span>-->
      <!--<span ng-if="!vm.about.user">Deleted User</span>-->
    <!--</em>-->
  <!--</small>-->
  <!--<p class="lead" ng-bind="vm.about.content"></p>-->
</section>
