<section ng-controller="AboutsController">

  <div class="header">
    <h1>ABOUT</h1>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="sidebar-wrapper">
          <nav id="spy" data-offset="400">
              <ul class="sidebar-nav nav">
                  <li>
                      <a href="#about"><span class="solo">About</span></a>
                  </li>
                  <li>
                      <a href="#mission">
                          <span class="solo">Mission</span>
                      </a>
                  </li>
                  <li>
                      <a href="#history">
                          <span class="solo">History</span>
                      </a>
                  </li>
                  <li>
                      <a href="#awards">
                          <span class="solo">Awards</span>
                      </a>
                  </li>
                  <li>
                      <a href="#people">
                          <span class="solo">LEADERSHIP</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
    </div>

    <div class="col-md-10">
      <div class="page-content-wrapper text-center">
        <div class="about-section"  id="about" >
  					<p>Learn more about the Association of Academic Women below by reading about our mission, history, awards, and people.</p>
  			</div>
        <div class="about-section" id="mission">
  				<h1>MISSION</h1>
  				<p>The Association for Academic Women (AAW) connects professional women throughout
  					the University of Florida community to enable personal growth, relationship building, career
  					development and lifelong learning - and to have some fun!!</p>
  					<p> We provide valuable networking and mentoring opportunities through special programs, social
  					events, and monthly networking luncheons; and act as an advisory group to higher administration
  					by providing valuable information on UF women's needs and desires. Our organization fosters career
  					and personal growth for UF women in all faculty, administrative, and professional roles by providing
  					an interdisciplinary, university-wide platform and encouraging the building and strengthening
  					of relationships among our members on and off campus. </p>
  		   </div>
         <div class="about-section" id="history">
  					<h1>HISTORY</h1>
  					<p>Since its early beginnings, the Association for Academic Women (AAW) has been known for its rich history. What began as the Committee on the Status of Women, identifying, advocating for and increasing awareness of the needed changes in the University environment in order to enhance opportunities for women, evolved to become the Association for Academic Women (AAW). Today, the organization is dedicated to providing a forum for topics of interest to women, serving as an advisory group to the University Administration and supporting the professional development of faculty and administrative staff campus-wide.</p>
  			</div>
  			<div class="about-section" id="awards">
  					<h1>AWARDS</h1>
  					<h3>Madelyn Lockhart Dissertation Fellowship Award</h3>
  					<p> The Association for Academic Women (AAW) at the University of Florida established the Madelyn Lockhart Dissertation Fellowship in 1996 to honor an outstanding graduate student. One fellowship in an amount up to $2,000 will be awarded to assist in the dissertation phase of the doctoral degree. The recipient must be enrolled in dissertation credits for at least one semester (for example summer 2016 or fall 2016 and/or spring, 2017) after s/he is selected to receive the fellowship.</p>
  					<button type="button" class="btn btn-primary">More Information</button>

  					<div id="space"></div>

  					<h3>Woman of Distinction Award</h3>
  					<p>This award is given to a University of Florida faculty member or administrative/professional woman. You must be a member of AAW to submit a nomination</p>
  					<button type="button" class="btn btn-primary">More Information</button>
  			</div>
        <div class="about-section" id="people">
  				<h1>LEADERSHIP</h1>
  				<h3> <b>President</b> Ayse Gunduz</h3>
  				<!-- picture of president and information about her -->
  				<div class="col-md-6">
  					<!-- picture -->
  				</div>
  				<div class="col-md-6">
  					<!-- information -->
  				</div>

  				<h3> <b>President-Elect</b> Naz Erenguc</h3>
  				<!-- picture of president-elect and information about her -->
  				<div class="col-md-6">
  						<!-- picture -->
  					</div>
  					<div class="col-md-6">
  						<!-- information -->
  					</div>
  		  </div>
    		<div class="col-md-12">
    				<!-- profiles button will link to the created profiles -->
    				<button type="button" class="btn btn-primary">SEE ALL MEMBERS</button>

    		</div>
        <div id="space"></div>

    		<div class="col-md-12">
    				<!-- join button will link to our join page -->
    			<button type="button" class="btn btn-primary" onclick="location.href = 'joins';">Join</button>
    		</div>
      </div>

      </div>
    </div>

  

<script>
    $(document).ready(function(){
   $("p").click(function(){
       $(this).hide();
   });
 });
</script>
