
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<section ng-controller="NewsController">
<div>
  <h3>Announcements</h3>
  <div class="jumbotron" style="height: 400px; overflow-y: scroll;">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="ann in announcements">
        <p>Title: {{ann.title}}</p>
        <p>By: {{ann.author}}</p>
        <p>{{ann.announcement}}</p>
      </li>
    </ul>
  </div>


  <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input ng-model="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Author</label>
    <input ng-model="author" type="text" class="form-control" id="exampleFormControlInput2" placeholder="Author">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Announcement</label>
    <textarea ng-model="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

<button type="button" class="btn btn-primary" ng-click="postNews()">Post</button>

</section>
