@font-face {
  font-family: 'Avenir Roman';
  src: url('../css/fonts/AvenirLTStd-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Light';
  src: url('../css/fonts/AvenirLTStd-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../css/fonts/AvenirLTStd-Black.ttf') format('truetype');
}


body{
    font-family: 'Avenir Roman';
}
.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/********************
PAGE HEADER
********************/

.page-header h1{
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
}

/********************
GALLERY
********************/

.album-cover-image{
  height: 200px;
  margin: 5px 0;
  background: #6B9AC3;
}

.album-item p {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.album-title{
  font-weight: 700;
  font-size: 3em;
}

.album-name{
  font-weight: 300;
}

.album-date{
  font-weight: 300;
}

.album-content h4{
  font-weight: 400;
  font-size: 1.15em;
  text-decoration: none;
  line-height: 45px;
  margin-top: 35px;
}

.gallery-container, .photos-container{
  margin: 45px 0;
}

.photos-row{
  margin-top: 15px;
}

.photo-image{
  height: 200px;
  margin: 5px 0;
  background: #E28F41;
}

/**** JOIN ****/
.joins-container {
  margin: 45px 0;
}
