@font-face {
  font-family: 'Avenir Roman';
  src: url('/modules/core/client/css/fonts/AvenirLTStd-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Light';
  src: url('/modules/core/client/css/fonts/AvenirLTStd-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('/modules/core/client/css/fonts/AvenirLTStd-Black.ttf') format('truetype');
}

body{
    font-family: 'Avenir Roman';
    margin:0;
    padding:0;
    height:100%;
}

a:hover,
a:focus{
  outline: none;
  text-decoration: none;
}
.header{
  position: relative;
  height: 380px;
  background-image: url('/modules/core/client/img/pictures/slide5.png');
  background-size: cover;

}

.header h1{
  font-family: 'Avenir Black';
  color: white;
  font-size: 4em;
  display: inline;
  position: absolute;
  right: 30px;
  bottom: 0;
  text-transform: uppercase;
  text-align: right;
}

/********************
NAVIGATION
********************/

.nav-item {
  font-family: 'Avenir Black';
  color: #FFFFFF;
  text-transform: uppercase;
}


.navbar-brand{
  padding: 0;
}

.navbar-brand > img {
  width: 150px;
}

.navbar-default {
    background: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
    border: none;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.container-fluid {
     padding-right: 0px;
     padding-left: 0px;
}

/********************
HOME
********************/

.home-content{
  z-index: 1;
  position:relative;
  z-index:1;
  background: #E28F40;
  margin-top: 45px;
}

.home-content:before{
  z-index: -1;
  position:absolute;
   top:0;
   left:0;
   width:100%;
   height:65%;
   content:"";
   background-color: white;
}

.carousel-inner {
  height: 650px;
}

.home-content h2{
  font-family: 'Avenir Black';
  text-transform: uppercase;
  color: #6B9AC3;
  margin-bottom: 65px;
}
.home-content a{
  color: #fff;
  text-transform: uppercase;
}

.news-cell{
  background: #6B9AC3;
  color: #fff;
  padding: 15px 25px;
  margin: 15px 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 15px 15px rgba(0, 0, 0, .25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 15px 15px rgba(0, 0, 0, .25);
  line-height: 30px;
}

.news-cell h3{
  font-family: 'Avenir Black';
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 15px;
}

.news-cell h5{
  font-family: 'Avenir Light';
  font-size: 1.15em;
  margin-bottom: 25px;
}

.event-cell{
  background: #6B9AC3;
  margin: 15px 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 15px 15px rgba(0, 0, 0, .25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 15px 15px rgba(0, 0, 0, .25);
}

.event-cell .date{
  background: #fff;
  color: #E28F40;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: -15px;
  text-transform: uppercase;

}

.event-cell .date h1{
  font-family: 'Avenir Black';
  color: #E28F40;
  font-size: 4em;
}

.event-cell .date h3{
  font-size: 1.20em;
}

.event-cell .event-descrip{
  background: #6B9AC3;
  color: #fff;
  margin-left: -15px;
  margin-top: 3%;
  margin-bottom: 3%;

}

.event-cell .event-descrip h3{
  font-family: 'Avenir Black';
  text-transform: uppercase;

}


.event-cell .event-descrip h4{
  font-family: 'Avenir Roman';
  font-size: 1em;
  line-height: 20px;
}

.news-cell p{
  font-size: 1em;
  text-align: left;
}

#whoweare{
  font-size: 2em;
  margin-bottom: 45px;
  font-family: 'Avenir Light';
  font-style: normal;
}

.view-all{
  margin-top: 25px;
}

/********************
FOOTER
********************/

.footer{
  background: #E28F40;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a, .footer i{
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer i{
  position: relative;
  font-size: 50px;
  padding-top: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

.footer li{
  display: inline;
  text-align: right;
  margin-left: 15px;
  margin-right: 15px;
}

.footer il{
  display: inline;
}

/********************
AFFIX
********************/

.navbar-affix {
  background: #6B9AC3;
}

.content {
  margin-top: 0px;
}

.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/********************
PAGE HEADER
********************/

.page-header h1{
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
}

/********************
GALLERY
********************/

.album-cover-image{
  height: 200px;
  margin: 5px 0;
  background: #6B9AC3;
}

.album-item p {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.album-title{
  font-weight: 700;
  font-size: 3em;
}

.album-name{
  font-weight: 300;
}

.album-date{
  font-weight: 300;
}

.album-content h4{
  font-weight: 400;
  font-size: 1.15em;
  text-decoration: none;
  line-height: 45px;
  margin-top: 35px;
}

.gallery-container, .photos-container{
  margin: 45px 0;
}

.photos-row{
  margin-top: 15px;
}

.photo-image{
  height: 200px;
  margin: 5px 0;
  background: #E28F41;
}

/**** JOIN ****/


.notification-icon {
  overflow: hidden;
  margin-bottom: -200% !important;
  padding-left: 45%;
  position: absolute;
  z-index: 9998!important;
}

.notification-icon .badge {
  background-color: red;
  color: white;
}

/**** CALENDAR ****/

.calendar{
  display: block;
  margin: 0 auto;
  width: 100%;
  /*margin-bottom: 15px;*/
}


.sub-buttons{
  background: #80BE64;
  padding: 35px 0;
  padding-top: 50px;

}

.sub1{
  text-align: center;
}

.sub2{
  text-align: left;

}
.sub1 > a{
  font-family: 'Avenir Black';
  background: white;
  text-transform: uppercase;
  color: #80BE64;
  font-size: 2em;
  padding: 15px 35px;
}

.sub2 > a{
  font-family: 'Avenir Black';
  background: white;
  text-transform: uppercase;
  color: #80BE64;
  font-size: 2em;
  padding: 15px 35px;
}

.sub1 > a:hover,
.sub2 > a:hover{
  text-decoration: none;
}

.panel-default > .panel-heading {
  background: #D7152A;
  color: #FFF;
  font-family: 'Avenir Roman';
  text-transform: uppercase;
  text-align: center;
}

.panel-default{
  display: block;
  margin: 0 auto;

  border: none;
  /*background: none;*/
  box-shadow: none;

}

.help{
  background: #80BE64;
  /*margin-top: 35px;*/
  padding-bottom: 15px;
}
#help{
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.events-grid{
  margin: 75px 0;
}
.events-grid > span > h1{
  font-family: 'Avenir Black';
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: center;

}

.number{
  color: #4A4A4A;
  font-size: 2em;
  margin-right: 5px;
}

.panel-content{
  font-family: 'Avenir Roman';
  background: white;
  text-align: center;
  padding: 35px;
  border-radius: 25px;
  font-size: 1.15em;
  line-height: 45px;
}

.admin-add-event > a{
  color: white;
}
.admin-add-event{
  text-align: center;
  text-transform: uppercase;
  background: #D7152A;
  padding: 3%;
}


/**** NEWS ****/

.news-list-cell-prefix{
  color: #E28F41;
  font-size: 1em;

}
.new-list-cell-heading{
  font-family: 'Avenir Black';
  font-size: 2.4em;
  text-transform: uppercase;
  margin: 3% 0 ;
  text-align: center;
  margin-top: 5%;
}

.new-list-cell-p{
  font-size: 1.25em;
  margin-top: 3%;
  line-height: 45px;
  margin-bottom: 5%;
}

.row{
  margin: 0;
}


@media screen and (max-width: 768px) {

  header{
    padding: 0 15px;
  }
  .navbar{
    background: #6B9AC3;
  }
  .event-cell .date{
    background: #fff;
    color: #E28F40;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 0;
    text-transform: uppercase;

  }

  .event-cell .date h1{
    font-family: 'Avenir Black';
    color: #E28F40;
    font-size: 4em;
  }

  .event-cell .date h3{
    font-size: 1.20em;
  }

  .event-cell .event-descrip{
    background: #6B9AC3;
    color: #fff;
    margin-left: -15px;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;

  }

  .event-cell .event-descrip h3{
    font-family: 'Avenir Black';
    text-transform: uppercase;

  }


  .event-cell .event-descrip h4{
    font-family: 'Avenir Roman';
    font-size: 1em;
    line-height: 20px;
  }

  .news-cell p{
    font-size: 1em;
    text-align: left;
  }

  .nav-links{
    padding-left: 15px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #6B9AC3;
      margin-top: 5%;
      padding-left: 15px;
       border-color: none;
       border: none;
  }

  .navbar-default .navbar-toggle {
      border-color: #ddd;
      background: white;
  }
}
