
.formImage img {
    padding-bottom: 1%;
    width: 1390px;
    height: 380px;
    margin-left: 25px;

}

#applicationForm {
    background-color: #CFDBCB;

    width: 1390px;
    margin-left: 25px;
    border: 1px solid darkgray;
    color: black;
}

#applicationForm p {
    font-family: "Lucida Console";
    font-size: large;
}




