
.form-content {
    color: black;
    font-family: 'Avenir Roman';
}

.form-content > h2 {
  font-family: 'Avenir Black';
  font-size: 3em;
  text-transform: uppercase;
  color: #E28F41;
  margin: 4% 0;
}

.form-content > form > p{
  padding-bottom: 50px;
}

.form-content > form{
  background-color: #E28F41;
  color: white;
}

.add-member-picture {
    width: 150px;
    height: 150px;
}

.form-horizontal .form-group {
     margin-right: 0;
     margin-left: 0;
}
