
#applicationForm {
    background-color: #CFDBCB;
    width: 100%;
    border: 1px solid darkgray;
    color: black;
}

#applicationForm p {
    font-family: "Lucida Console";
    font-size: large;
}




