/*.carousel div{
    height: 500px;
}*/

.joins-container{
  margin-bottom: 75px;
}
.box1-row {
    padding-top: 6%;

}

.circle-text {
    height: 355px;
    width: 360px;
    background-color: #6C9AC3;
    border-radius: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 15px 20px 25px grey;
}

.circle-text h3 {
    text-align: center;
    font: bold;

}

.circle-text div {
    width: 100%;
    padding-top: 12%;
    line-height: 1em;
    color: white;
}

.circle-text1 {
    height: 355px;
    width: 360px;
    background-color: #E28F41;
    border-radius: 1000px;
    margin-bottom: 30px;
    margin: 0 auto;
    box-shadow: 15px 20px 25px grey;
}

.circle-text1 h3,
.circle-text2 h3,
.circle-text h3 {
    font-family: 'Avenir Black';
    text-align: center;
    font: bold;
}

.circle-text1 div {
    width: 100%;
    padding-top: 15%;
    line-height: 1em;
    color: white;
}

.circle-text2 {
    height: 355px;
    width: 360px;
    background-color: #6C9AC3;
    border-radius: 1000px;
    margin-bottom: 30px;
    margin: 0 auto;


    box-shadow: 15px 20px 25px grey;
}


.circle-text2 h3 {
    text-align: center;
    font: bold;
}

.circle-text2 div {
    width: 100%;
    padding-top: 15%;
    line-height: 1em;
    color: white;
}

.rect2 h3 {
    text-align: center;
    font: bold;
}


.myTestimonials{
    background-color: whitesmoke;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    margin-top: 65px;
}

.testimonials div{
    padding-top: 20%;

}

.testimonials h3, p{
    text-align: center;
    /*font: italic bold 12px/30px Georgia, serif;*/
}

.message {
    padding-top: 5%;
    text-align: center;
    color: #6C9AC3;
    /*padding-left: 5%;*/
    text-decoration: underline
}

.member {
    padding-top: 1%;
    text-align: center;
    color: #E28F41;
    /*padding-left: 5%;*/

}

.btn1 {
    color: black;
}

.button {
    text-align: center;
    height: 60px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #E28F41; /* Orange */
    color: white;
}

.circle-text li,
.circle-text1 li,
.circle-text2 li {
  font-family: 'Avenir Roman';
  /*text-align: center;
  margin: auto;
  margin-left: -25px;
  margin-top: 15px;*/
}
